.footer {
  height: 150px;
  color: #fff;
  background: 
  repeating-linear-gradient(
    45deg,
    rgba(255,255,255,0.05) 0,
    rgba(255,255,255,0.05) 1px,
    transparent 1px,
    transparent 10px
  ),
  #5e6a71;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 601px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer h1,
  .footer p {
    margin: 0;
  }
}
