.footer {
  height: 150px;
  color: #fff;
  background: #5e6a71;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 601px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer h1,
  .footer p {
    margin: 0;
  }
}
