:root {
  font-family: "Open Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  color: #981e32;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
}

.box {
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 100;
}

@media (min-width: 1025px) {
  .box {
    padding: 20px 300px;
  }
}
