.rules {
  width: 100%;
  color: #fff;
  background: #981e32;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rulesList {
  text-align: justify;
  padding: 0 200px;
}

.rules h2 {
  margin: 0;
}
