#root {
  text-align: center;
  color: #981e32;
}

html {
  scroll-behavior: smooth;
}

.main {
  margin-top: 60px;
  /* margin-bottom: 200px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
