.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 60px;
}

.info p {
  margin: 0 0 10px;
}

.info h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (min-width: 601px) and (max-width: 1024px) {
  .info {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 200px 60px;
  }
}

/* Desktop */
@media (min-width: 1025px) {
  .info {
    padding: 20px 300px 60px;
  }
  .border {
    border: 5px solid #981e32;
    border-radius: 25px;
    padding: 20px;
  }
}

/* Large Desktop */
@media (min-width: 1440px) {
  .info {
    padding: 40px 400px 80px;
  }
}
